<div class="s12 m11">
  <h1>Welcome to FestiSwap </h1>
  <div class="waves-effect waves-light btn white">
    <%= link_to 'Find Events', events_path %>
  </div>
  <div class="waves-effect waves-light btn white">
    <%= link_to 'Create Event', new_event_path %>
  </div>
</div>