<div class="s12 m11">
  <h1>Welcome to FestiSwap </h1>
  <h2>The Marketplace, for time and space...</h2>
  <%= link_to 'Find Events', events_path, class: "waves-effect waves-light btn" %>
  <%= link_to 'Create Event', new_event_path, class: "waves-effect waves-light btn" %>
  <h3>FestiSwap is a classifieds app for events.</h3>
  <h4>You can search for events by:</h4>
  <li>Entering a location in the search bar or...</li>
  <li>Clicking on the find events button</li>
  <em>MAKE SURE YOU HIT <strong>YES</strong> or <strong>ACCEPT</strong> WHEN YOU ARE PROMPTED FOR LOCATION PERMISSIONS</em>
  <h4>You can create your own events by:</h4>
  <li>Registering or Logging In</li>
  <li>Hitting the <em>Create Event</em> button on the home page or at the bottom of the event listing pages</li>
  <h4>You can create your own ads by:</h4>
  <li>Registering or Logging In</li>
  <li>Navigating to an events page</li>
  <li>Hitting the <em>Create Ad</em> button at the bottom of the event's page</li>
</div>