@import "custom.scss";
@import "materialize/components/color";
$primary-color: color("#4BB8A6FF", "lighten-2") !default;
$secondary-color: color("#611B21E2", "base") !default;
@import 'materialize';
@import "materialize/extras/nouislider";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
    background-image: url('festbackdark.jpg');
    background-blend-mode: screen;
}