<footer class="page-footer #424242 grey darken-3 z-depth-5">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <p class="grey-text text-lighten-4">This website was created by students of <a class="grey-text text-lighten-4" href="http://www.codeplatoon.org/">Code Platoon.</a></p>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2017 Copyright Text
      <a class="grey-text text-lighten-4 right" href="https://github.com/iamretiform/FestiSwap">GitHub Repository</a>
    </div>
  </div>
</footer>